.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: darkgray;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #2D217C;
}

#start {
    background-color: #F2E7FA;
    border: #2D217C solid;
    border-radius: 20px;
    color: #2D217C;
    cursor: pointer;
    font-size: 60px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    text-align: center;
    width: 300px;
    
}

.questions {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: #2D217C 2px solid;

}


button {
    background-color: #F2E7FA;
    border: #2D217C solid;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    font-size: 20px;;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.btn-sm {
    background-color: #F2E7FA;
    border: #2D217C solid;
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-md {
    background-color: #F2E7FA;
    border: #2D217C solid;
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
    width: 280px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


input {
    border: 2px solid lightblue;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 12px;
}